prefect==2.8.7
prefect-gcp[cloud_storage]==0.3.0
prefect-sqlalchemy==0.2.2
prefect-github
pandas==1.5.3
pandas-gbq==0.19.1
protobuf==4.21.11
pyarrow==11.0.0
psycopg2-binary==2.9.5
sqlalchemy==1.4.46
dbt-bigquery==1.4.3
